### Notebook Summary :
- This notebookcan can read a folder of word documents and then write a new excel containing just the rows that satisfies the specific condition.

### Import Libraries

In [1]:
import pandas as pd
import os

In [2]:
output_file = "final_output.xlsx"
path = os.getcwd()

### Functions

In [3]:
def getExcelFiles():
    ''' Purpose: to collect all the files provided in a specific folder ending with .xlsx'''
    file_list = []
    for root, dirs, files in os.walk(path):
        for file in files:
            if file != output_file and file.endswith('.xlsx'): 
                file_list.append(file)
    if len(file_list)>0:
        return file_list
    else:
        print("Location does not contain any Excel files.")
            
def saveOutput(): 
    ''' Purpose: to combine the data from all excel files, apply conditions and save output as excel file'''

    collect_data = []
    file_list = getExcelFiles()
    for i in file_list:
        df = pd.read_excel(i, squeeze=False)
        collect_data.append(df)
        df1 = pd.concat(collect_data)
    df2 = df1.query("Status == 'Approved'")
    df2 = df2.reset_index(drop =True)
    #saving output file
    df2.to_excel(output_file, index=False)
    return df2

### Output

In [4]:
output = saveOutput()
output#.reset_index(drop =True)

  Person    Status
0   Anne  Approved
1   Carl  Approved
2   Dave  Approved
3     Ed  Approved
4  Harry  Approved
5     Jo  Approved
6  Larry  Approved
7    Mat  Approved

In [5]:
#end of notebook.